html, body{
margin:0;
padding:0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-head{
    background-color: rgb(79, 79, 189);
    width:100%;
    height: 90px;
}
.header{
    background-color: rgb(79, 79, 189);
    height: 90px;
    display: flex;
    width: 65%;
    margin: 0 auto;
}


.header-content{
    
    
    height: 90px;
    
    color:white;
    
    
}
.header-field{
    margin-left: auto;
    display: flex;
    padding: 15px;
    
    
}

.header-content>h1{
    font-size: 45px;
    line-height: 25px;
    
}

.inp-header{
    height: 15px;
    width: 150px;
    margin: 5px 0px 5px 10px;
}

#pass-label{
    margin-left:76px;
}
label{
    margin-left:10px;
    color: white;
}

#set2>a{
    margin-left: 10px;
   color: rgb(182, 176, 176);
    text-decoration: none;
}
#set2>a:hover{
    text-decoration: underline;
}

#log-in-btn{
    background-color: rgb(58, 58, 189);;
    color:white;
    border: 1px solid black;
    align-self: center;
    margin: 5px 0px 5px 10px;
    padding: 3px;
}

#log-in-btn:hover{
    background-color: rgb(79, 79, 189);
}


#set1,#set2{
    font-size: 14px;
    border:none;
}

#body-contetn{
    height:600px;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(235, 235, 235);
    background-image: linear-gradient(white, rgb(199, 203, 218));
}
#content{
    background-color: rgb(235, 235, 235);
    background-image: linear-gradient(white, rgb(199, 203, 218));
    width: 65%;
    margin: 20px auto;
    border: none;
    display: flex;
    
    
}
img{
    margin-top: 10px; 
}
#form{
    margin-left: 120px;
}

#image{
    margin-top: 25px;
}

.inp-form{
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px 0px;
    font-size: 20px;
    
}

#num, #pass-form{
    width: 400px
}
select{
    padding: 8px;
    width:70px;
}
#span{
    font-size: 10px;
    color: blue;
    display: inline-block;
    
}

#span:hover{
    text-decoration: underline;
}
.gender{
    margin:15px;
}
#warning-text{
    font-size: 10px;
    color: gray;
}
#sign-up-btn{
    margin: 20px 0px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border:1px solid green;
    background-color: green;
    color:white;
    font-size: 20px;
    opacity: 0.7;
}

#pg{
    font-size: 12px;
    
}
#pg>a{
    text-decoration: none;
}